body {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body .title {
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

body .box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

body .box .logo img {
  width: 100px;
  height: auto;
}

body .box .btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body .box .btn button {
  width: 2rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  font-size: 0.28rem;
}

body .footer {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
